"*":
  "atom-ternjs":
    useSnippets: true
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
    enableAutoConfirmSingleSuggestion: false
    fileBlacklist: [
      "*.html"
      "*.md"
      "*.txt"
    ]
    similarSuggestionRemoval: "textOrSnippet"
    strictMatching: true
  "base16-syntax":
    scheme: "Solarized"
  "bracket-matcher":
    autoHideMenuBar: true
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "theme-switcher"
      "tag"
      "atom-wrap-in-tag"
      "less-than-slash"
      "autocomplete-html"
      "autoclose-html"
      "background-tips"
      "atom-beautify"
    ]
    highlightMatchingLineNumber: true
    telemetryConsent: "no"
    themes: [
      "my-one-dark-ui"
      "my-theme-syntax"
    ]
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "autocomplete-html"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    packagesWithSnippetsDisabled: [
      "language-html"
    ]
    telemetryConsent: "no"
    themes: [
      "my-theme-ui"
      "my-theme-syntax"
    ]
  editor:
    fontFamily: "consolas"
    fontSize: 16
    lineHeight: 1.6
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "83cf1fd0-7393-4d18-8ef2-69ec2f36f38f"
  "highlight-line":
    hideHighlightOnSelect: true
  hyperclick:
    linuxTriggerKeys: "altKey"
  "ide-typescript":
    diagnosticsEnabled: false
  "linter-stylelint": {}
  "linter-ui-default":
    panelHeight: 279
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
    useEslint: true
  "seti-icons":
    noColor: true
  "status-bar": {}
  "tone-syntax":
    color:
      duo: "#8d8df0"
      syncUI: false
      tri: "#ff8d55"
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    softWrap: false
".css.less.source":
  editor:
    softWrap: false
".css.scss.source":
  editor:
    softWrap: false
".css.source":
  editor:
    softWrap: false
".js.source":
  editor:
    softWrap: false
".json.source":
  editor:
    softWrap: false
".shell.source":
  editor:
    softWrap: false
".text.xml.xsl":
  editor:
    softWrap: false
