* {
  accent: #d3869b;
  border-color-light: #302f2d;
  border-color-dark: #262524;
  background-dark: #353331;
  background-light: #4e4b4a;
  background-medium: #403e3c;
  foreground-dark: #cac5b0;
  foreground-light: #ffffff;
  foreground-medium: #e6e1c9;
  scrollbar-handle: #726d6c;

  background-color: @background-medium;
  foreground-color: @foreground-dark;
  text-color: @foreground-medium;
}