/* Accent colour */
:root {
  /* --accent-color: #55b166; */
  /* --accent-color: #d99f21; */
  /* --accent-color: #dc5d3a; */
  --accent-color: #4d78cc;
  --toolbar-non-lwt-bgimage: !important;
}

/*  Tab loading animation in tab */
.tab-throbber {
  filter: grayscale(100%);
}

/* Find dialog */
.findbar-button:-moz-any([checked="true"], :hover:active):not([disabled="true"]) {
  background-color: var(--accent-color) !important;
  color: white !important;
}

.browserContainer > findbar .findbar-find-previous:active:not([disabled]), .browserContainer > findbar .findbar-find-next:active:not([disabled]) {
  background-color: var(--accent-color) !important;
}

.findbar-textbox:focus {
  background-color: -moz-Field !important;
  color: var(--lwt-toolbar-field-color) !important;
}

findbar toolbarbutton.tabbable:-moz-focusring {
  outline: none !important;
}

/* Text links; for pop-ups etc */
.text-link {
  color: var(--accent-color) !important;
}

/* Tab loading burst animation */
.tab-loading-burst {
  display: none !important;
}

/* Forward and back buttons */
#forward-button,
#back-button {
  display: none !important;
}

/* Tab dividers */
.tabbrowser-tab::before,
.tabbrowser-tab::after {
  display: none !important;
}

/* Dropdown menu that appears when lots of tabs are open */
#TabsToolbar .toolbarbutton-1 {
  display: none;
}

/* Scroll buttons that appear when lots of tabs are open */
toolbarbutton.scrollbutton-up,
toolbarbutton.scrollbutton-down {
  display: none;
}

/* Hide tab-close button */
.tab-close-button {
  display: none !important;
}

/* Top border tabs */
:root:not([tabsintitlebar]) .tab-background {
  border-top-color: -moz-dialog !important;
}

/* Hide some buttons on navbar */
#bookmarks-menu-button,
#fxa-toolbar-menu-button,
#PanelUI-button,
#stop-reload-button,
#pageActionButton {
  display: none;
}

/* URL bar container padding */
#urlbar-container {
  padding-block: 5px !important;
}
