#!/bin/bash
xbindkeys                                 # Run xbindkeys; set keyboard bindings
xrdb ~/.Xresources                        # Set xresources
redshift -l manual &                      # Start redshift; blue light filter
#export QT_STYLE_OVERRIDE=gtk2            # Force Qt applications to use the GTK theme
flashfocus --flash-on-focus &             # Window focus animations
wal -n -R                                 # Set pywal theme
source ~/.api_keys                        # Source API keys
