/* -------------- */
/* Root variables */
/* -------------- */

:root {
  --toolbar-non-lwt-bgimage: !important;
}

/* ------- */
/* Nav bar */
/* ------- */

/* Forward/back buttons */
#forward-button,
#back-button {
  display: none !important;
}

/* Container for some buttons on the left side of the bar */
#stop-reload-button {
  padding: 0 var(--toolbarbutton-outer-padding);
}

/* Container for some buttons on the far right of the bar */
#PanelUI-button {
  border-inline-start-width: 0px !important;
  margin-inline-start: 0px !important;
  margin-inline-end: var(--toolbarbutton-outer-padding) !important;
  padding-inline-start: var(--toolbarbutton-outer-padding) !important;
}

#PanelUI-menu-button {
  padding-left: 0 !important;
  padding-right: calc(var(--toolbarbutton-outer-padding) + 1px) !important;
}

/* Overflow menu button */
#nav-bar-overflow-button {
  display: none !important;
}

/* Dark mode addon */
@media (prefers-color-scheme: light) {
  #addon_darkreader_org-browser-action .toolbarbutton-icon {
    list-style-image: url("./icons/lightbulb-regular-dark.svg");
  }
}

@media (prefers-color-scheme: dark) {
  #addon_darkreader_org-browser-action .toolbarbutton-icon {
    list-style-image: url("./icons/lightbulb-regular-light.svg");
  }
}


/* ------- */
/* URL bar */
/* ------- */

/* URL bar container */
#urlbar-container {
  margin-inline-end: var(--toolbarbutton-outer-padding) !important;
  margin-inline-start: 0px !important;
}

/* Actions button */
#pageActionButton {
  display: none !important;
}

/* Hide search icons at bottom of dropdown */
#urlbar .search-one-offs:not([hidden]) {
  display: none !important;
}

/* ---- */
/* Tabs */
/* ---- */

/* Pre/post tab list spacers */
.titlebar-spacer[type="pre-tabs"] {
  width: 2px !important;
}

.titlebar-spacer[type="post-tabs"] {
  width: 2px !important;
}

/*  Tab loading animation in tab */
.tab-throbber {
  filter: grayscale(100%);
}

/* Tab loading burst animation */
.tab-loading-burst {
  display: none !important;
}

/* Tab dividers */
.tabbrowser-tab::before,
.tabbrowser-tab::after {
  display: none !important;
}

/* Scroll buttons that appear when lots of tabs are open */
#scrollbutton-up,
#scrollbutton-down {
  display: none;
}

/* Tab top border */
:root:not([tabsintitlebar]) .tab-background {
  border-top-style: none !important;
}

/* Tab-close button */
.tab-close-button {
  display: none !important;
}

/* Selected tab highlighted border */
@media (prefers-color-scheme: light) {
  .tabbrowser-tab[selected="true"] .tab-line {
  background-color: #ffa300 !important;
}
}

@media (prefers-color-scheme: dark) {
  .tabbrowser-tab[selected="true"] .tab-line {
  background-color: #FBB86C !important;
}
}

/* Selected tab text */
@media (prefers-color-scheme: light) {
  .tabbrowser-tab[selected="true"] {
    color: hsl(0, 0%, 1%) !important;
  }
}

@media (prefers-color-scheme: dark) {
  .tabbrowser-tab[selected="true"] {
    color: white !important;
  }
}
